@import '_sass/responsive.css.scss';
@import '_sass/grid.css.scss';
@import '_sass/footer.css.scss';
@import '_sass/about.css.scss';
@import '_sass/blog.css.scss';


a {
  color:#000;
}

$accent: #27b321 !default;


.post p a, .footer a, .listy-right a {
  border-bottom: 1px solid #000;
  &:hover {
    text-decoration:none;
    border-bottom-color:$accent;
  }
}
.read-more-link, .cta {
  font-weight:bold;
  border-bottom: 2px solid #000;
  &:hover {
    text-decoration:none;
    border-bottom-color:$accent;
  }
}

/* Navigation stuff */

.rw-logo a {
  text-indent: -9000em;
  display: block;
  background: url(/img/rw-logo.png) no-repeat top center;
  width:100%;
  height: 40px;
  background-size: 117px;
  @include media-query (sm) {
    width: 115px;

  }
}
.masthead {
  padding: 17px 0;
  min-height: 68px;
}
.about .masthead {
  margin:0;
}

.masthead-title {
  @include media-query (sm) {
    float:left;
    margin-left:10px;
  }
}
.container-header {
    max-width:1780px;
}
.sidebar-toggle {
  @include media-query (sm) {
    display:none;
  }
}


ul.header-nav {
  float:right;
  display:none;
  list-style-type:none;
  margin:0;
  li {
    list-style-type:none;
    margin:0;
    float:left;
    a {
      color:black;
      float:left;
      margin: 0 0 0 24px;
      i {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
  @include media-query (sm) {
    display:block;
  }
}
.about .nav-about, .blog .nav-blog {
  font-weight:bold;
}
.nav-fixed {
  .masthead {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    float:left;
  }
}
.inverted {
  .rw-logo a {
    background-image: url(/img/rw-logo-white.png);
  }
  .sidebar-toggle:before {
    color:#fff;
  }
  ul.header-nav li a {
    color:#fff
  }
}
