---
layout: default
body-class: blog
---


<!-- {% for tag in site.tags %}
    <a href="/tag/{{ tag | first | slugize }}/">
        {{ tag | first }}
    </a>
{% endfor %} -->

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post post-preview {{ post.tags }}">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    <a href="{{ post.url }}">
      <img src="/downloads/{{post.img}}" alt="{{ post.title }}" class="post-img"/>
    </a>
    <p>
      {% if post.intro %}
        {{ post.intro }}
      {% else %}
        {{ post.content }}
      {% endif %}
    </p>
    <a class="read-more-link" href="{{ post.url }}">Read more</a>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
