---
layout: blank
body-class: contact nav-absolute
head-content: "<meta property='og:image'
content='http://richwells.me/downloads/rw-share.jpg' />"
---
<div class="contact-header">
</div>

<div class="home">
  <div class="lower-strip">
    <div class="about-wrap anim-150 mt-3">
      <h2 class="about-intro">
        Things I can offer...
      </h2>

      <ul class="listy listy-big unstyled">
        <li>
          <div class="listy-right">
            <h3>Graphic design</h3>
          </div>
        </li>
        <li>
          <div class="listy-right">
            <h3>Front-end website development</h3>
            <p>HTML/CSS/Javascript</p>
          </div>
        </li>
        <li>
          <div class="listy-right">
            <h3>Co-creation workshops</h3>
          </div>
        </li>
        <li>
          <div class="listy-right">
            <h3>Branding</h3>
          </div>
        </li>
        <li>
          <div class="listy-right">
            <h3>Illustration</h3>
          </div>
        </li>
        <li>
          <div class="listy-right">
            <h3>Photography</h3>
          </div>
        </li>
        <li>
          <a href="{{ site.baseurl }}/" class="listy-left">
            <img src="{{ site.baseurl }}/img/blog-tn.jpg" alt="My blog">
          </a>
          <div class="listy-right">
            My passion is to use design to solve problems, make better experiences and ultimately create value.

          </div>
        </li>
        <li>
          <a href="http://dayoffwithsophie.tumblr.com" class="listy-left" target="_blank">
            <img src="{{ site.baseurl }}/img/sophie-tn.jpg" alt="Day off with Sophie">
          </a>
          <div class="listy-right">
            On Tuesdays I take the day off to explore the world with my daughter Sophie. Each week we do something new and share it on our <a href="http://dayoffwithsophie.tumblr.com/" target="_blank">Daddy Daycare blog</a>.
          </div>
        </li>
        {% comment %}
        <li>
          <a href="http://100daybiblechallenge.com" class="listy-left" target="_blank">
            <img src="{{ site.baseurl }}/img/100-tn.jpg" alt="Day off with Sophie">
          </a>
          <div class="listy-right">
            I like a challenge. A while back I created 100 illustrations over 100 days for a project I set up at my church. You can download all the images for free <a href="http://100daybiblechallenge.com" target="_blank">here.</a>
          </div>
        </li>
        {% endcomment %}
      </ul>

      <p class="get-in-touch center">
        <a href="mailto:rich@yoomee.com" class="cta">Get in touch</a> or
        <a href="{{ site.baseurl }}/tag/work" class="cta">check out my work</a>
      </p>

  </div>

{% comment %}

  {% for post in site.posts limit:25 %}<a
    href="{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
      <div class="padded-content">
        <h3 class="title">{{ post.title }}</h3>
      {% if post.photo_url %}
        <img src="{{ post.photo_url }}" alt="test" />
        <img src="{{ post.photo_url_small }}" alt="test" />
        <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
      {% else %}
        <!-- <div class="title">{{ post.title }}</div> -->
        <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %Y" }}
        </info>
        {% if post.description %}
        <span class="body">{{ post.description | strip_html }}</span>
        {% else %}
        <span class="body">{{ post.excerpt | strip_html }}</span>
        {% endif %}
      {% endif %}<!-- post.photo_url -->
      </div>
    </a>{% endfor %}

</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>


    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

{% endcomment %}
