<div class="masthead">
  <div class="container container-header">
    <h3 class="masthead-title rw-logo">
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
      {%comment%}<small>{{ site.tagline }}</small>{%endcomment%}
    </h3>
    <ul class="header-nav">
      <li><a href="{{ site.baseurl }}/" class="nav-about">About me</a></li>
      <li><a href="{{ site.baseurl }}/projects" class="nav-projects">Projects</a></li>
      {%comment%}
        <li><a href="{{ site.baseurl }}/contact" class="nav-contact">Hire me</a></li>
      {%endcomment%}
      <li><a href="http://twitter.com/richwells" target="blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://instagram.com/richwells" target="blank"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
</div>
