<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  {% comment %}
    <div class="sidebar-item">
      <p>{{ site.description }}</p>
    </div>
  {% endcomment %}

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item sidebar-blog {% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/projects/">Projects</a>
    <a class="sidebar-nav-item sidebar-about" href="{{ site.baseurl }}/">About me</a>
    <a href="http://twitter.com/richwells" class="twitter sidebar-social" target="_blank"> <i class="fa fa-twitter"></i>
      <span>Twitter</span></a>
    <a href="http://instagram.com/richwells" class="instagram sidebar-social" target="_blank"> <i class="fa fa-instagram"></i> <span> Instagram</span></a>
  </nav>



  <div class="col-play sidebar-col">
    <h3 class="sidebar-nav-item sidebar-work-and-play">Work &amp; play</h3>
    <ul class="footer-list">
      <li>
        <a href="http://yoomee.com" target="_blank">Yoomee</a>
      </li>
      <li>
        <a href="http://printedbyus.org/" target="_blank">Printed by Us</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/better-google-tasks" target="_blank">Better Google Tasks</a>
      </li>
      <li>
        <a href="http://cambodia.richwells.me" target="_blank">Cambodia travel scrapbook</a>
      </li>
      <li>
        <a href="http://100daybiblechallenge.com" target="_blank">100 Day Bible Challenge</a>
      </li>
      <li>
        <a href="http://dayoffwithsophie.tumblr.com" target="_blank">Daddy daycare</a>
      </li>
      <li>
        <a href="https://www.pinterest.com/richiewells/sketchbook/" target="_blank">Pinterest sketchbook</a>
      </li>
    </ul>
  </div>


{% comment %}
  The code below dynamically generates a sidebar nav of pages with
  `layout: page` in the front-matter. See readme for usage.
{% endcomment %}

{% comment %}

  {% assign pages_list = site.pages | sort:"url" %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}


  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
{% endcomment %}
</div>
