<div class="blog-tags projects-header container">
  <h1 class="projects-title">Projects</h1>

  <ul class="blog-tag-list">

    <li><a class="tag-link-everything" href="{{ site.baseurl }}/projects/">Everything</a></li>
    <li><a class="tag-link-branding" href="{{ site.baseurl }}/tag/branding">Brand</a></li>
    <li><a class="tag-link-illustration" href="{{ site.baseurl }}/tag/illustration">Illustration</a></li>
    <!-- <li><a class="tag-link-work" href="{{ site.baseurl }}/tag/work">work</a></li> -->

    <li><a class="tag-link-ux" href="{{ site.baseurl }}/tag/ux">Digital/UX</a></li>
    <!-- <li><a class="tag-link-ux" href="{{ site.baseurl }}/tag/ux">front-end coding</a></li> -->
    <!-- <li><a class="tag-link-sketches" href="{{ site.baseurl }}/tag/sketches">sketches</a></li> -->

    <li><a class="tag-link-photos" href="{{ site.baseurl }}/tag/photos">Photography</a></li>
    <!-- <li><a class="tag-link-furniture" href="{{ site.baseurl }}/tag/furniture">Furniture &amp; interiors</a></li> -->
    <!-- <li><a class="tag-link-video" href="{{ site.baseurl }}/tag/video">storytelling/motion</a></li> -->
    <!-- <li><a class="tag-link-travels" href="{{ site.baseurl }}/tag/travels">travel</a></li> -->
    <!-- <li><a class="tag-link-travels" href="{{ site.baseurl }}/tag/travels">mental health</a></li> -->
    <!-- <li><a class="tag-link-travels" href="{{ site.baseurl }}/tag/travels">co-creation</a></li> -->
    <!-- <li><a class="tag-link-yoomee" href="{{ site.baseurl }}/tag/yoomee">yoomee</a></li> -->



    <!-- <li><a class="tag-link-illustration" href="{{ site.baseurl }}/tag/illustration">Illustrations</a></li> -->

    <!-- <li><a class="tag-link-inspiration" href="{{ site.baseurl }}/tag/inspiration">inspiration</a></li> -->
    <!-- <li><a class="tag-link-thoughts" href="{{ site.baseurl }}/tag/thoughts">Talks/thoughts</a></li> -->


  </ul>
</div>
