/*
* Posts and pages
*
* Each post is wrapped in `.post` and is used on default and post layouts. Each
* page is wrapped in `.page` and is only used on the page layout.
*/

.page,
.post {
  margin-bottom: 4em;
  img {
    @include media-query (sm-max) {
      width:100%;
    }
  }
}
/* hide certain posts on main blog list */
.blog-index .hide-post {
  display:none;
}
.post-preview {
  img {
    width:100%;
  }
}

.all-posts-link {
  font-size: 16px;
  border-bottom: 1px solid #999;
  margin: 0 0 0 -30px;
  position: absolute;
  display: block;
  float: left;
  top: 19px;
  padding: 0 1px;
  right: 21%;
  color: #999;
  @include media-query (sm) {
    right: 52%;
    margin: 0 0 0 -46px;
  }
  .fa {
    margin-right:2px;
  }
  &:hover {
    text-decoration: none;
    color:#000;
  }
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
  clear:both;
  text-align:center;
}

/* Meta data line below post title */
.post-date {
  visibility:hidden;
  display: block;
  margin-top: -30px;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

.read-more-link {
  font-weight:bold;
}
.related-strip {
  background:#e4e4e4;
  float:left;
  width:100%;
  padding:22px;
  @include media-query (sm) {
    padding:$pad;
  }
  h2 {
    text-align:center;
    margin-bottom:30px;
  }
  .col-related {
    margin-bottom:$pad;
  }
  [class*='col-'] {
    @include media-query (sm) {
      padding: 0 10px;
    }
    @include media-query (lg) {
      padding: 0 20px;
    }

  }
  .grid {
    @include media-query (lg) {
      max-width:1400px;
      float:none;
      margin:0 auto;
    }


  }
}
.col-related {
  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: #000;
  }
  small {
    color: #999;
    float: left;
    width: 100%;
    margin: -1px 0 0;
    font-size: 16px;
  }
  a {
    &:hover {
      text-decoration:none;
    }
  }
  .post-img-wrap {
    margin-bottom:13px;
    img {
      position:relative;
      margin-bottom:0px;
      &:hover {
        opacity:0.9;
      }
    }
    .fitvids {
      margin: 0;
    }
  }
  .post-img-wrap {
    display:block;
    width:100%;
    float:left;
  }
}
