#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid #000;
}
.w100 {
  width:100%;
}
.sig {
  margin: 50px auto 120px;
  width: 110px;
  @include media-query (md) {
    width:150px;
  }
}
h2.sig-title {
  font-weight:normal;
  text-align: center;
  line-height: 1.2;
  font-size:20px;
  margin:30px 10px;
  @include media-query (sm) {
    font-size: 40px;
    margin:70px 0;
  }
}
.alert {
  padding: 15px;
  background: #FFF0A4;
  color: #000;
  margin: 0 0 20px;
  p, h3  {
    margin: 0;
  }
}
