/* Navigation stuff */

/*
* Masthead
*
* Super small header above the content for site name and short description.
*/

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 20px;
  @include media-query (sm) {
    margin-bottom: 60px;
  }
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}

@media (max-width: 48em) {
  .masthead-title {
    text-align: center;
  }
  .masthead-title small {
    display: none;
  }
}

.rw-logo a {
  text-indent: -9000em;
  display: block;
  background: url(../img/rw-logo.png) no-repeat top left;
  width:100%;
  height: 40px;
  background-size: 117px;
  @include media-query (sm) {
    width: 115px;

  }
}
.masthead {
  padding: 17px 0;
  min-height: 68px;
}
.about .masthead {
  margin:0;
}

.masthead-title {
  @include media-query (sm) {
    float:left;
    margin-left:10px;
  }
}
.container-header {
    max-width:1780px;
}
.sidebar-toggle {
  @include media-query (sm) {
    display:none;
  }
}


ul.header-nav {
  float:right;
  display:none;
  list-style-type:none;
  margin:0;
  li {
    list-style-type:none;
    margin:0;
    float:left;
    a {
      color:black;
      float:left;
      margin: 0 0 0 24px;
      i {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
  @include media-query (sm) {
    display:block;
  }
}
.about .nav-about, .blog .nav-projects, .projects-index .nav-projects {
  font-weight:bold;
}
.nav-absolute {
  .masthead {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    float:left;
  }
}
.nav-inverted {
  .rw-logo a {
    background-image: url(../img/rw-logo-white.png);
  }
  .sidebar-toggle:before {
    color:#fff;
  }
  ul.header-nav li a {
    color:#fff
  }
  .sidebar-toggle {
    color:#fff;
  }
}
