.storytime {
  background-color:#fff;
  padding:20px;
}
.storytime-wrap {
  margin: 0 auto;
  padding:100px;
  display:table;
}
.storytime-inner {
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}
.storytime-1 {
}
