
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  font-family: "sofia-pro", helvetica, Arial, sans-serif;
  color:#444;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #000;
  -webkit-font-smoothing: auto;
}
a {
  color:#000;
}
.post p a, .footer a, .listy-right a, .post li a {
  border-bottom: 1px solid #000;
  &:hover {
    text-decoration:none;
    border-bottom-color:#ccc;
  }

}
.read-more-link, .cta {
  font-weight:bold;
  border-bottom: 2px solid #000;
  &:hover {
    text-decoration:none;
    border-bottom-color:#ccc;
  }
}

.post p a, .footer a, .listy-right a {
  border-bottom: 1px solid #000;
  &:hover {
    text-decoration:none;
    border-bottom-color:#ccc;
  }
}
.read-more-link, .cta {
  font-weight:bold;
  border-bottom: 2px solid #000;
  &:hover {
    text-decoration:none;
    border-bottom-color:#ccc;
  }
}
