---
layout: blank
body-class: about nav-fixed inverted
---
<div class="about-header">
  <div class="hello-wrap">
<!--     <img src="{{ site.baseurl }}/img/hello.png" alt="Hello, my name is Rich" class="hello-bubble"> -->
  </div>
</div>

<div class="home">
  <div class="lower-strip">
    <div class="about-wrap anim-150 mt-3">
      <h2 class="about-intro">
        Hello my name is Rich. I’m a designer, illustrator and maker of things.
      </h2>

      <ul class="listy listy-big unstyled">
        <li>
          <a href="http://yoomee.com" class="listy-left" target="_blank">
            <img src="{{ site.baseurl }}/img/yoomee-tn.jpg" alt="Yoomee Digital">
          </a>
          <div class="listy-right">
            I’m creative director at <a href="http://yoomee.com" class="list-with-img-link" target="_blank">Yoomee</a>. We build websites for charities and organisations who want to improve the world.
          </div>
        </li>
        <li>
          <a href="http://blog.richwells.me" class="listy-left" target="_blank">
            <img src="{{ site.baseurl }}/img/blog-tn.jpg" alt="My blog">
          </a>
          <div class="listy-right">
            I spend lots of time drawing, taking photos, coding things and telling stories. <a href="http://blog.richwells.me">My blog</a> records what I get up to and what I’m working on.

          </div>
        </li>
        <li>
          <a href="http://dayoffwithsophie.tumblr.com" class="listy-left" target="_blank">
            <img src="{{ site.baseurl }}/img/sophie-tn.jpg" alt="Day off with Sophie">
          </a>
          <div class="listy-right">
            On Tuesdays I take the day off to explore the world with my daughter Sophie. Each week we do something new and share it on our <a href="http://dayoffwithsophie.tumblr.com/" target="_blank">Daddy Daycare blog</a>.
          </div>
        </li>
        <li>
          <a href="http://100daybiblechallenge.com" class="listy-left" target="_blank">
            <img src="{{ site.baseurl }}/img/100-tn.jpg" alt="Day off with Sophie">
          </a>
          <div class="listy-right">
            I like a challenge. A while back I created 100 illustrations over 100 days for a project I set up at my church. You can download all the images for free <a href="http://100daybiblechallenge.com" target="_blank">here.</a>
          </div>
        </li>
      </ul>

  </div>

{% comment %}

  {% for post in site.posts limit:25 %}<a
    href="{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
      <div class="padded-content">
        <h3 class="title">{{ post.title }}</h3>
      {% if post.photo_url %}
        <img src="{{ post.photo_url }}" alt="test" />
        <img src="{{ post.photo_url_small }}" alt="test" />
        <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
      {% else %}
        <!-- <div class="title">{{ post.title }}</div> -->
        <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %Y" }}
        </info>
        {% if post.description %}
        <span class="body">{{ post.description | strip_html }}</span>
        {% else %}
        <span class="body">{{ post.excerpt | strip_html }}</span>
        {% endif %}
      {% endif %}<!-- post.photo_url -->
      </div>
    </a>{% endfor %}

</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>


    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

{% endcomment %}
