---
layout: default
---
<a href="{{ site.baseurl }}/" class="all-posts-link">
  All posts
</a>
<div class="container content">
  <div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {{ content }}
  </div>
</div> <!-- end container -->


{% if content and page.related %}
<h2>Related Posts</h2>
<ul>
  {% for post in site.posts limit:6 %}
  {% if page.related contains post.title %}
  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}

<div class="related-strip" id="container">
  <h2>Related Posts</h2>
  <div id="isotope" class="grid">
    {% for post in site.related_posts limit:12 %}
      <div class="col-1-3 col-related">
        {% if post.video %}
        <span class="post-img-wrap">
          {{ post.video }}
        </span>
        {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}">
          <span class="post-img-wrap">
            {% if post.thumbnail %}
            <img src="http://ir0.mobify.com/500/http://richwells.me{{ site.baseurl }}/downloads/{{ post.thumbnail }} " alt="{{ post.title}}">
          </span>
          {% elsif post.img %}
          <img src="http://ir0.mobify.com/500/http://richwells.me{{ site.baseurl }}/downloads/{{post.img}}" alt="{{ post.title }}">
          {% endif %}
        </span>
      </a>
      {% endif %}
      <a href="{{ site.baseurl }}{{ post.url }}">
          <h3 class="post-title">{{ post.title }}</h3>
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
